<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

        <link rel="stylesheet" href="/css/errors/404.css">

<section class="error-container">
    <span>4</span>
    <span><span class="screen-reader-text">0</span></span>
    <span>4</span>
</section>
        <h1>Upps!We Looked everywhere, and we couldn't find the page that you were looking for. </h1>
        <h1>But don't worry,someone is being fired. </h1>
        <div class="link-container">
        Go to     <a target="" th:href="@{/}" class="more-link">Home</a> page
        </div>

<script>

</script>
</html>