
body{

}

.profile-card {
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    min-height: 65vh;
}

.profile-card:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #bbbef5;
    transform: scaleY(1);
    transition: all 0.5s;
    transform-origin: bottom
}

.profile-card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #0833e3;
    transform: scaleY(0);
    transition: all 0.5s;
    transform-origin: bottom
}

.profile-card:hover::after {
    transform: scaleY(1)
}



/*.buttons button:nth-child(1) {*/
/*    border: 1px solid #0833e3 !important;*/
/*    color: #ffffff;*/
/*    height: 40px*/
/*}*/

/*.buttons button:nth-child(1):hover {*/
/*    border: 1px solid #0833e3 !important;*/
/*    color: #fff;*/
/*    height: 40px;*/
/*    background-color: #0833e3*/
/*}*/

/*.buttons button:nth-child(2) {*/
/*    border: 1px solid #0833e3 !important;*/
/*    color: #ffffff;*/
/*    height: 40px*/
/*}*/

/*.buttons button:nth-child(2):hover {*/
/*    border: 1px solid #0833e3 !important;*/
/*    color: #fff;*/
/*    height: 40px;*/
/*    background-color: #0833e3*/
/*}*/


.rounded-circle {
    height: 150px;
    width: 150px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
/* IGNORE THIS SECTION */




.image-container {
    height: 150px !important;
    width: 150px !important;;
    border: 2px solid black;
}
.image {
    object-fit: fill;
    object-position: center center;
    width: 50%;
    height: 50%;
}

.mt-2 mb-0{
    font-size: 3rem !important;

}