<!DOCTYPE html>
<html   lang="en" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/common::head}">
</head>
<body>
<!-- navbar  -->
<nav th:replace="~{fragments/common::navbar}"></nav>
<!-- end of navbar  -->

<!-- header -->
<header class="flex header-sm">
    <div class="container">
        <div class="header-title">
            <h1>About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus rerum maxime enim odit illum in molestias
                beatae doloremque, ratione optio.</p>
        </div>
    </div>
</header>
<!-- header -->

<!-- about section -->
<section id="about" class="py-4">
    <div class="container">
        <div class="title-wrap">
            <span class="sm-title">things to know about us</span>
            <h2 class="lg-title">our story</h2>
        </div>

        <div class="about-row">
            <div class="about-left my-2">
                <img src="/images/about-img.jpg" alt="about img">
            </div>
            <div class="about-right">
                <h2>How We Started </h2>
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae vitae sed aperiam qui
                    repudiandae earum voluptatem. Modi at inventore omnis veniam necessitatibus exercitationem vel
                    nesciunt delectus ex officiis, culpa doloremque odit illo saepe placeat. Delectus consequuntur
                    reprehenderit omnis accusantium officiis!</p>
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique explicabo blanditiis
                    quidem consequuntur qui quaerat fuga iste tenetur consequatur porro. Aliquam maiores alias doloribus
                    at quisquam quo numquam perferendis. Odit!</p>
            </div>
        </div>
    </div>
</section>
<!-- end of about section -->

<!-- facts section -->
<section id="facts" class="py-4 flex">
    <div class="container">
        <div class='title-wrap'>
            <span class="sm-title">Businesses you can find on our Website</span>
<!--            <h2 class="lg-title">Businesses you can find</h2>-->
        </div>

        <div class="facts-row">
            <div class="facts-item">
                <span >   <i class="fa-solid fa-icons  facts-icon "></i></span>
                <div class="facts-info">
                    <strong>220</strong>
                    <p class="text">Clubs and Bars</p>
                </div>
            </div>

            <div class="facts-item">
                <span> <i class="fa-solid fa-spa facts-icon"></i></span>
                <div class="facts-info">
                    <strong>450</strong>
                    <p class="text">Beauty and Spa Boutiques</p>
                </div>
            </div>

            <div class="facts-item">
                <span >  <i class="fa-solid fa-tractor facts-icon"></i></span>
                <div class="facts-info">
                    <strong>144</strong>
                    <p class="text">Local Farms</p>
                </div>
            </div>

            <div class="facts-item">
                <span > <i class="fa-solid fa-utensils  facts-icon"></i>></span>
                <div class="facts-info">
                    <strong>120</strong>
                    <p class="text">Restaurants</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of facts section -->


<footer  th:replace="~{fragments/common::footer}"></footer>
<!-- end of footer -->

<!-- js -->
<script src = "/js/script.js"></script>
<script src="https://kit.fontawesome.com/363d6aad6e.js" crossorigin="anonymous"></script>

</body>
</html>