<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common::head}">

</head>
<body>
<!-- navbar  -->
<nav th:replace="~{fragments/common::navbar}"></nav>
<!-- end of navbar  -->


<!-- header -->
<header class="flex header-sm">
    <div class="container">
        <div class="header-title">
            <h1>Add Your Business</h1>
            <div class="container">

                <form th:action="@{/businesses/add-business}" method="post" th:object="${businessRegister}">
                    <div class="form-group">
                        <label for="businessName">Business Name</label>
                        <input th:field="*{name}"


                               type="text"
                               class="form-control"
                               id="businessName"
                               name="businessName">
                    </div>

                    <div class="form-group col-md-6 mb-3">
                        <label class="text-center text-black font-weight-bold"
                               th:for="category">Category</label>
                            <select th:field="*{categoryName}"
                                    th:errorclass="is-invalid"
                                    class="form-control" id="drop-down">
                                <option value="">- Select category-</option>
                                <option th:each="name: ${allCategories}"
                                        th:value="${name}"
                                        th:text="${name}"
                                        th:selected="${name}">

                                </option>

                            </select>


                        <!--                        <p class="invalid-feedback errors alert alert-danger">-->
                        <!--                            City is required.-->
                        <!--                        </p>-->
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input th:field="*{email}"
                               type="email"
                               class="form-control"
                               id="email"
                               name="email">

                    </div>
                    <div class="form-group">
                        <label for="businessPhoneNumber">Phone Number</label>
                        <input
                                th:field="*{phoneNumber}"
                                type="text"
                                class="form-control"
                                id="businessPhoneNumber"
                                name="businessPhoneNumber">

                    </div>
                    <div class="form-group">
                        <label for="businessAddress">Street Address</label>
                        <input th:field="*{address}"

                               class="form-control"
                               id="businessAddress"
                               name="businessAddress">

                    </div>

                    <div class="form-group col-md-6 mb-3">
                        <label class="text-center text-white font-weight-bold"
                               th:for="city">City</label>
                        <select th:field="*{cityName}"
                                th:errorclass="is-invalid"
                                class="form-control" id="drop-down1">
                            <option value="">- Select city-</option>
                            <option th:each="city: ${cities}"
                                    th:value="${city.name}"
                                    th:text="${city.name}">

                            </option>

                        </select>

<!--                        <p class="invalid-feedback errors alert alert-danger">-->
<!--                            City is required.-->
<!--                        </p>-->
                    </div>


                    <div class="form-group">
                        <label for="aboutTheBusinessStory">About your Business</label>
                        <textarea
                                th:field="*{about}"
                                class="form-control"
                                id="aboutTheBusinessStory"
                                name="aboutTheBusinessStory"></textarea>

                    </div>
                    <button type="submit" class="btn btn-primary">Add Business</button>
                </form>
                <p></p>
            </div>
        </div>
    </div>
</header>
<!-- header -->


<!-- footer -->
<footer th:replace="~{fragments/common::footer}"></footer>
<!-- end of footer -->

<!-- js -->
<script src="/static/js/script.js"></script>
<script src="/js/script.js"></script>


<script src="https://kit.fontawesome.com/363d6aad6e.js" crossorigin="anonymous"></script>
</body>
</html>