<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common::head}">

</head>
<body>
<!-- navbar  -->
<nav th:replace="~{fragments/common::navbar}"></nav>
<!-- end of navbar  -->


<!-- header -->
<header class="flex header-sm">
    <div class="container">
        <div class="header-title">
            <h1>Add Your Business</h1>
            <div class="container">

                <form th:action="@{/users/login}" method="post">
                    <div class="form-group">
                        <label for="businessName">Business Name</label>
                        <input


                                type="text"
                                class="form-control"
                                id="businessName"
                                name="businessName">
                    </div>

                    <!--------------Add options for category,check classes to match the css---------->

                    <div class="form-group bg-transparent">

                        <label for="category">Category</label>

                        <div class="select " tabindex="1" id="category">
                            <input class="selectopt btn btn-primary" name="test" type="radio" id="option1" checked />
                            <label for="option1" class="option ">Choose Category</label>
                            <input class="selectopt " name="test" type="radio" id="option2" />
                            <label for="option2" class="option f">Shopping</label>
                            <input class="selectopt" name="test" type="radio" id="option3" />
                            <label for="option3" class="option">Restaurants</label>
                            <input class="selectopt" name="test" type="radio" id="option4" />
                            <label for="option4" class="option">NightLife Reels</label>
                            <input class="selectopt" name="test" type="radio" id="option5" />
                            <label for="option5" class="option">Local Farms</label>
                        </div>

<!--                        <select class="form-control form-select form-select-sm " aria-label="Default select example"-->
<!--                                id="category" name="category">-->
<!--                            <option class="form-control" selected>Select category</option>-->
<!--                            <option class="form-control" value="SHOPPING">Shopping</option>-->
<!--                            <option class="form-control" value="RESTAURANTS">Restaurants</option>-->
<!--                            <option class="form-control" value="NIGHTLIFE">NightLife</option>-->
<!--                            <option class="form-control" value="LOCAL_FARMS">Local Farms</option>-->
<!--                            <option class="form-control" value="BEAUTY_SPA">Beauty and Spa</option>-->
<!--                            <option class="form-control" value="AUTOMOTIVE">Automotive</option>-->
<!--                            <option class="form-control" value="HOME_SERVICES">Home Services</option>-->
<!--                        </select>-->


                        <!--                        <small  th:if="${#fields.hasErrors('category')}" th:errors="" class="text-danger">Category error message</small>-->
                    </div>


                    <div class="form-group">
                        <label for="email">Email</label>
                        <input
                                type="email"
                                class="form-control"
                                id="email"
                                name="email">

                    </div>
                    <div class="form-group">
                        <label for="businessPhoneNumber">Phone Number</label>
                        <input

                                type="text"
                                class="form-control"
                                id="businessPhoneNumber"
                                name="businessPhoneNumber">

                    </div>
                    <div class="form-group">
                        <label for="businessAddress">Business Address</label>
                        <input

                                class="form-control"
                                id="businessAddress"
                                name="businessAddress">

                    </div>
                    <div class="form-group">
                        <label for="aboutTheBusinessStory">About your Business</label>
                        <textarea

                                class="form-control"
                                id="aboutTheBusinessStory"
                                name="aboutTheBusinessStory"></textarea>

                    </div>
                    <button type="submit" class="btn btn-primary">Add Business</button>
                </form>
                <p></p>
            </div>
        </div>
    </div>
</header>
<!-- header -->


<!-- footer -->
<footer th:replace="~{fragments/common::footer}"></footer>
<!-- end of footer -->

<!-- js -->
<script src="/static/js/script.js"></script>
<script src="/js/script.js"></script>


<script src="https://kit.fontawesome.com/363d6aad6e.js" crossorigin="anonymous"></script>
</body>
</html>