<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/common::head}">
</head>
<body>
<!-- navbar  -->
<nav th:replace="~{fragments/common::navbar}"></nav>
<!-- end of navbar  -->

<!-- header -->
<header class="flex header-sm">
    <div class="container">
        <section id="categories" class="py-4">
            <div class="container">
                <div class="title-wrap">
                    <div class="header-title">
                        <h1 class="lg-title">Categories</h1>
                    </div>

                </div>

                <div class="categories-row">
                    <div class="categories-item">
                        <span class="categories-icon">

                            <i class="fa-solid fa-icons"></i>
                        </span>
                        <h3>NightLife</h3>
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quo, totam
                            repellat velit, dignissimos sequi error a minima architecto fugit nisi dolorum
                            repellendus?</p>
                        <a href="#" class="btn">See More</a>
                    </div>

                    <div class="categories-item">
                        <span class="categories-icon">

                            <i class="fa-solid fa-spa"></i>
                        </span>
                        <h3>Beauty and Spa</h3>
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quo, totam
                            repellat velit, dignissimos sequi error a minima architecto fugit nisi dolorum
                            repellendus?</p>
                        <a href="#" class="btn">See More</a>
                    </div>

                    <div class="categories-item">
                        <span class="categories-icon">
                           <i class="fa-solid fa-house-chimney-user"></i>
                        </span>
                        <h3>Home Services</h3>
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quo, totam
                            repellat velit, dignissimos sequi error a minima architecto fugit nisi dolorum
                            repellendus?</p>
                        <a href="#" class="btn">See More</a>
                    </div>

                    <div class="categories-item">
                        <span class="categories-icon">
                          <i class="fa-solid fa-tractor"></i>
                        </span>
                        <h3>Local Farms</h3>
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quo, totam
                            repellat velit, dignissimos sequi error a minima architecto fugit nisi dolorum
                            repellendus?</p>
                        <a href="#" class="btn">See More</a>
                    </div>

                    <div class="categories-item">
                        <span class="categories-icon">
                          <i class="fa-solid fa-utensils"></i>
                        </span>
                        <h3>Restaurants</h3>
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quo, totam
                            repellat velit, dignissimos sequi error a minima architecto fugit nisi dolorum
                            repellendus?</p>
                        <a href="#" class="btn">See More</a>
                    </div>

                    <div class="categories-item">
                        <span class="categories-icon">
                          <i class="fa-solid fa-bag-shopping"></i>
                        </span>
                        <h3>Shopping</h3>
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quo, totam
                            repellat velit, dignissimos sequi error a minima architecto fugit nisi dolorum
                            repellendus?</p>
                        <a href="#" class="btn">See All</a>
                    </div>
                    <div class="categories-item ">
                        <span class="categories-icon">
                         <i class="fa-solid fa-car-side"></i>
                        </span>
                        <h3>Automotive</h3>
                        <p class="text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quo, totam repellat velit,
                            dignissimos sequi error a minima architecto fugit nisi dolorum repellendus?</p>
                        <a href="#" class="btn">See All</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</header>
<!-- header -->


<!-- categories section -->
<!--<section id = "categories" class = "py-4">-->
<!--    <div class = "container">-->
<!--        <div class = "title-wrap">-->
<!--            <span class = "sm-title"></span>-->
<!--            <h2 class = "lg-title">Categories</h2>-->
<!--        </div>-->

<!--        <div class = "categories-row">-->
<!--            <div class = "categories-item">-->
<!--                        <span class = "categories-icon">-->

<!--                            <i class="fa-solid fa-icons"></i>-->
<!--                        </span>-->
<!--                <h3>NightLife</h3>-->
<!--                <p class = "text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quo, totam repellat velit, dignissimos sequi error a minima architecto fugit nisi dolorum repellendus?</p>-->
<!--                <a href = "#" class = "btn">See More</a>-->
<!--            </div>-->

<!--            <div class = "categories-item">-->
<!--                        <span class = "categories-icon">-->

<!--                            <i class="fa-solid fa-spa"></i>-->
<!--                        </span>-->
<!--                <h3>Beauty and Spa</h3>-->
<!--                <p class = "text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quo, totam repellat velit, dignissimos sequi error a minima architecto fugit nisi dolorum repellendus?</p>-->
<!--                <a href = "#" class = "btn">See More</a>-->
<!--            </div>-->

<!--            <div class = "categories-item">-->
<!--                        <span class = "categories-icon">-->
<!--                           <i class="fa-solid fa-house-chimney-user"></i>-->
<!--                        </span>-->
<!--                <h3>Home Services</h3>-->
<!--                <p class = "text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quo, totam repellat velit, dignissimos sequi error a minima architecto fugit nisi dolorum repellendus?</p>-->
<!--                <a href = "#" class = "btn">See More</a>-->
<!--            </div>-->

<!--            <div class = "categories-item">-->
<!--                        <span class = "categories-icon">-->
<!--                          <i class="fa-solid fa-tractor"></i>-->
<!--                        </span>-->
<!--                <h3>Local Farms</h3>-->
<!--                <p class = "text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quo, totam repellat velit, dignissimos sequi error a minima architecto fugit nisi dolorum repellendus?</p>-->
<!--                <a href = "#" class = "btn">See More</a>-->
<!--            </div>-->

<!--            <div class = "categories-item">-->
<!--                        <span class = "categories-icon">-->
<!--                          <i class="fa-solid fa-utensils"></i>-->
<!--                        </span>-->
<!--                <h3>Restaurants</h3>-->
<!--                <p class = "text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quo, totam repellat velit, dignissimos sequi error a minima architecto fugit nisi dolorum repellendus?</p>-->
<!--                <a href = "#" class = "btn">See More</a>-->
<!--            </div>-->

<!--            <div class = "categories-item">-->
<!--                        <span class = "categories-icon">-->
<!--                          <i class="fa-solid fa-bag-shopping"></i>-->
<!--                        </span>-->
<!--                <h3>Shopping</h3>-->
<!--                <p class = "text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quo, totam repellat velit, dignissimos sequi error a minima architecto fugit nisi dolorum repellendus?</p>-->
<!--                <a href = "#" class = "btn">See All</a>-->
<!--            </div>-->
<!--            <div class = "categories-item">-->
<!--                        <span class = "categories-icon">-->
<!--                         <i class="fa-solid fa-car-side"></i>-->
<!--                        </span>-->
<!--                <h3>Automotive</h3>-->
<!--                <p class = "text">-->
<!--                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quo, totam repellat velit, dignissimos sequi error a minima architecto fugit nisi dolorum repellendus?</p>-->
<!--                <a href = "#" class = "btn">See All</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- end of categories section -->


<footer th:replace="~{fragments/common::footer}"></footer>

<!-- js -->
<script src="/js/script.js"></script>
<script>
    // image modal
    const allGalleryItem = document.querySelectorAll('.gallery-item');
    const imgModalDiv = document.getElementById('img-modal-box');
    const modalCloseBtn = document.getElementById('modal-close-btn');
    let imgIndex = 0;

    allGalleryItem.forEach((galleryItem) => {
        galleryItem.addEventListener('click', () => {
            imgModalDiv.style.display = "block";
            let imgSrc = galleryItem.querySelector('img').src;
            imgIndex = parseInt(imgSrc.split("-")[1].substring(0, 1));
            showImageContent(imgIndex);
        })
    });


    function showImageContent(index) {
        imgModalDiv.querySelector('#img-modal img').src = `images/gallery-${index}.jpg`;
    }

    modalCloseBtn.addEventListener('click', () => {
        imgModalDiv.style.display = "none";
    })
</script>
<!-- js -->
<script src="/static/js/script.js"></script>
<script src="https://kit.fontawesome.com/363d6aad6e.js" crossorigin="anonymous"></script>
</body>
</html>