<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/common::head}">
</head>
<body>
<!-- navbar  -->
<nav th:replace="~{fragments/common::navbar}"></nav>
<!-- end of navbar  -->

<!-- header -->
<header class="flex header-sm">
    <div class="container">
        <section id="categories" class="py-4">
            <div class="container">
                <div class="title-wrap">
                    <div class="header-title">
                        <h1 class="lg-title">Categories</h1>
                    </div>

                </div>

                <div class="categories-row">
                    <div class="categories-item">
                        <span class="categories-icon">

                            <i class="fa-solid fa-icons"></i>
                        </span>
                        <h3>NightLife</h3>
                        <p class="text">Explore a vibrant nightlife scene with options ranging from lively bars and clubs
                             to cozy lounges and entertainment venues. Dance the night away to live music or DJ sets,
                            enjoy cocktails at stylish lounges, or discover themed bars for a unique experience.
                            Whether you're into comedy shows, karaoke, or simply relaxing with friends, nightlife venues
                            offer something for everyone to unwind and socialize after dark.</p>
                        <a th:href="@{/categories/nightlife}" class="btn">See More</a>
                    </div>

                    <div class="categories-item">
                        <span class="categories-icon">

                            <i class="fa-solid fa-spa"></i>
                        </span>
                        <h3>Beauty and Spa</h3>
                        <p class="text">Indulge in relaxation and rejuvenation with a variety
                            of beauty and spa services. From massages and facials to haircuts and manicures,
                            local beauty and spa professionals offer personalized treatments to enhance your
                            well-being and appearance. Whether you're seeking pampering or therapeutic care,
                            these services provide a tranquil escape for self-care and rejuvenation.</p>
                        <a th:href="@{/categories/beauty-and-spa}" class="btn">See More</a>
                    </div>

                    <div class="categories-item">
                        <span class="categories-icon">
                           <i class="fa-solid fa-house-chimney-user"></i>
                        </span>
                        <h3>Home Services</h3>
                        <p class="text">Find local professionals for a range of home
                            maintenance and improvement needs, including HVAC repair, painting,
                            carpentry, plumbing, electrical work, and more. Whether you're renovating,
                            repairing, or maintaining your home, local service providers offer expertise and
                            convenience to keep your living space in top condition.</p>
                        <a th:href="@{/categories/home-services}"  class="btn">See More</a>
                    </div>

                    <div class="categories-item">
                        <span class="categories-icon">
                          <i class="fa-solid fa-tractor"></i>
                        </span>
                        <h3>Local Farms</h3>
                        <p class="text">Find fresh, locally grown fruits and vegetables,
                             dairy products, and more at your nearby local farms.
                            Enjoy seasonal produce, farm-fresh eggs, and even U-Pick options for a fun family outing.
                            Support sustainable agriculture and your local economy by purchasing directly from farmers.</p>
                        <a th:href="@{/categories/local-farms}"  class="btn">See More</a>
                    </div>

                    <div class="categories-item">
                        <span class="categories-icon">
                          <i class="fa-solid fa-utensils"></i>
                        </span>
                        <h3>Restaurants</h3>
                        <p class="text">Explore a variety of dining experiences from casual eateries
                            to fine dining establishments. Enjoy diverse menus featuring local and international
                            cuisines, served in welcoming atmospheres ranging from cozy cafes to elegant dining rooms.
                            Whether you're craving quick bites or a leisurely meal, restaurants offer delicious options
                            to satisfy every palate and occasion.</p>
                        <a th:href="@{/categories/restaurants}"  class="btn">See More</a>
                    </div>

                    <div class="categories-item">
                        <span class="categories-icon">
                          <i class="fa-solid fa-bag-shopping"></i>
                        </span>
                        <h3>Shopping</h3>
                        <p class="text">Explore a diverse shopping experience with a
                            variety of options from local boutiques to large retail stores.
                            Discover fashion trends, unique gifts, and household essentials.
                             Whether you prefer shopping malls, specialty shops, or online platforms,
                            find everything you need and enjoy personalized service and convenience.</p>
                        <a th:href="@{/categories/shopping}"  class="btn">See All</a>
                    </div>
                    <div class="categories-item ">
                        <span class="categories-icon">
                         <i class="fa-solid fa-car-side"></i>
                        </span>
                        <h3>Automotive</h3>
                        <p class="text">
                            Find local professionals for all your automotive needs,
                            from routine maintenance to repairs and customization. Whether it's oil changes,
                             brake services, bodywork, or upgrades, local automotive experts offer reliable
                            service to keep your vehicle running smoothly and looking its best. Enjoy convenience
                             and expertise for all your car care needs.</p>
                        <a th:href="@{/categories/automotive}"  class="btn">See All</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</header>


<footer th:replace="~{fragments/common::footer}"></footer>

<!-- js -->
<script src="/js/script.js"></script>
<script>
    // image modal
    const allGalleryItem = document.querySelectorAll('.gallery-item');
    const imgModalDiv = document.getElementById('img-modal-box');
    const modalCloseBtn = document.getElementById('modal-close-btn');
    let imgIndex = 0;

    allGalleryItem.forEach((galleryItem) => {
        galleryItem.addEventListener('click', () => {
            imgModalDiv.style.display = "block";
            let imgSrc = galleryItem.querySelector('img').src;
            imgIndex = parseInt(imgSrc.split("-")[1].substring(0, 1));
            showImageContent(imgIndex);
        })
    });


    function showImageContent(index) {
        imgModalDiv.querySelector('#img-modal img').src = `images/gallery-${index}.jpg`;
    }

    modalCloseBtn.addEventListener('click', () => {
        imgModalDiv.style.display = "none";
    })
</script>
<!-- js -->
<script src="/static/js/script.js"></script>
<script src="https://kit.fontawesome.com/363d6aad6e.js" crossorigin="anonymous"></script>
</body>
</html>