<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common::head}">

</head>
<body>
<!-- navbar  -->
<nav th:replace="~{fragments/common::navbar}"></nav>
<!-- end of navbar  -->

<!-- header -->
<header class="flex header-sm">
    <div class="container">
        <div class="header-title h-25">
            <h1>All Cities</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus rerum maxime enim odit illum in molestias
                beatae doloremque, ratione optio.</p>
        </div>
    </div>
</header>


<section id="featured" class="py-4">
    <div class="container" id="all-businesses" th:each="city:${allCities}" th:object="${city}">

        <div class="featured-row">
            <div class="featured-item my-2 shadow">
                <img src="/images/featured-reo-de-janeiro-brazil.jpg" alt="featured place">
                <div class="featured-item-content">
                            <span th:text="*{name}">
                                <i class="fas fa-map-marker-alt"></i>
                            </span>
                    <span th:text="*{businessesCount}">
                                <i class="fa-solid fa-globe"></i>
                            </span>
                    <div>
                        <p class="text" th:text="*{about}">Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Dicta sed dignissimos libero soluta illum, harum amet excepturi sit?</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- end of popular places section -->


<footer th:replace="~{fragments/common::footer}"></footer>

<!-- js -->
<script src="/js/script.js"></script>
<!-- js -->

<script src="/js/script.js"></script>
<script src="https://kit.fontawesome.com/363d6aad6e.js" crossorigin="anonymous"></script>
</body>
</html>