<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common::head}">

</head>
<body>
<!-- navbar  -->
<nav th:replace="~{fragments/common::navbar}"></nav>
<!-- end of navbar  -->

<!-- header -->
<header class="flex header-sm">
    <div class="container">
        <div class="header-title h-25">
            <h1>All Cities</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus rerum maxime enim odit illum in molestias
                beatae doloremque, ratione optio.</p>
        </div>
    </div>
</header>


<section id="featured" class="py-4 city">
    <div class="container city" id="all-businesses" th:each="city:${allCities}" th:object="${city}">


        <div class="featured-row city">
            <div class="featured-item my-2 shadow">
                <img src="/images/featured-reo-de-janeiro-brazil.jpg" alt="featured place">
                <div class="featured-item-content">
                    <i class="fas fa-map-marker-alt" ></i>
                    <span  th:text="*{name}"></span>
                    <span th:text="'Places To Visit : ' + *{businessesCount}">
                                <i class="fa-solid fa-globe"></i>
                            </span>
                    <div >
                        <p class="text" th:text="*{about}"></p>

                    </div>
                    <a th:href="@{/cities/city/{id}(id = *{id})}" class="btn">See More</a>
                </div>
            </div>


        </div>


    </div>

</section>

<a th:method="GET"
   th:href="@{/}"
   th:text="Back"
   type="submit" id="back-button-pages" class="btn btn-primary">Back
</a>
<!-- end of popular places section -->


<footer th:replace="~{fragments/common::footer}"></footer>

<!-- js -->
<script src="/js/script.js"></script>
<!-- js -->

<script src="/js/script.js"></script>
<script src="https://kit.fontawesome.com/363d6aad6e.js" crossorigin="anonymous"></script>
</body>
</html>