<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/common::head}">

</head>
<body>
<!-- navbar  -->
<nav th:replace="~{fragments/common::navbar}"></nav>
<!-- end of navbar  -->


<!-- header -->
<header class="flex header-sm">
    <div class="container">
        <div class="header-title">
            <h1>Edit Profile</h1>
            <div class="container">

                <form th:action="@{/users/edit-profile/{username}(username=${username})}"
                      th:method="POST"
                      th:object="${profileEditDTO}">

                    <div class="form-group">
                        <label for="username">Username</label>
                        <input th:field="*{username}"
                               type="text"
                               class="form-control"
                               id="username"
                               name="username">
                        <small th:each=" err : ${#fields.errors('username')}"
                               th:text="${err}"
                               class="invalid-feedback  form-text bg-danger rounded">
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="fullName">Full Name</label>
                        <input
                                th:field="*{fullName}"
                                type="text"
                                class="form-control"
                                id="fullName"
                                name="fullName">
                        <small th:each=" err : ${#fields.errors('fullName')}"
                               th:text="${err}"
                               class="invalid-feedback  form-text bg-danger rounded">
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input
                                th:field="*{email}"
                                type="email"
                                class="form-control"
                                id="email"
                                name="email">
                        <small th:each=" err : ${#fields.errors('email')}"
                               th:text="${err}"
                               class="invalid-feedback  form-text bg-danger rounded">
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input
                                th:field="*{password}"
                                type="password"
                                class="form-control"
                                id="password"
                                name="password">
                        <small th:each=" err : ${#fields.errors('password')}"
                               th:text="${err}"
                               class="invalid-feedback  form-text bg-danger rounded">
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input
                                th:field="*{confirmPassword}"
                                type="password"
                                class="form-control"
                                id="confirmPassword"
                                name="confirmPassword">
                        <small th:each=" err : ${#fields.errors('confirmPassword')}"
                               th:text="${err}"
                               class="invalid-feedback  form-text bg-danger rounded">
                        </small>
                    </div>
                    <button
                            type="submit" class="btn btn-primary">Save</button>

                    <a th:method="GET"
                            th:href="@{/}"
                            th:text="Back"
                            type="submit" class="btn btn-primary">Back
                    </a>


                </form>


            </div>
        </div>
    </div>
</header>
<!-- header -->


<!-- footer -->
<footer th:replace="~{fragments/common::footer}"></footer>
<!-- end of footer -->

<!-- js -->
<script src="/static/js/script.js"></script>
<script src="/js/script.js"></script>


<script src="https://kit.fontawesome.com/363d6aad6e.js" crossorigin="anonymous"></script>
</body>
</html>