<!DOCTYPE html>
<html    lang="en" xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common::head}">

</head>
<body>
<!-- navbar  -->
<nav th:replace="~{fragments/common::navbar}"></nav>
<!-- end of navbar  -->

<!-- header -->
<header class = "flex">
    <div class = "container">
        <div class = "header-title">
            <h1 id="header-index">Explore The Best Places Around You</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus rerum maxime enim odit illum in molestias beatae doloremque, ratione optio.</p>
        </div>

    </div>
</header>
<!-- header -->

<!-- most-popular section -->
<section id = "featured" class = "py-4">
    <div class = "container">
        <div class = "title-wrap">
            <span class = "sm-title">Explore places before your travel </span>
            <h2 class = "lg-title"> Most Popular </h2>
        </div>

        <div class = "featured-row">
            <div class = "featured-item my-2 shadow">
                <img src = "/images/featured-reo-de-janeiro-brazil.jpg" alt = "featured place">
                <div class = "featured-item-content">
                            <span>
                                <i class = "fas fa-map-marker-alt"></i>
                                Reo De Janeiro, Brazil
                            </span>
                    <div>
                        <p class = "text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta sed dignissimos libero soluta illum, harum amet excepturi sit?</p>
                    </div>
                </div>
            </div>

            <div class = "featured-item my-2 shadow">
                <img src = "/images/featured-north-bondi-australia.jpg" alt = "featured place">
                <div class = "featured-item-content">
                            <span>
                                <i class = "fas fa-map-marker-alt"></i>
                                North Bondi, Australia
                            </span>
                    <div>
                        <p class = "text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta sed dignissimos libero soluta illum, harum amet excepturi sit?</p>
                    </div>
                </div>
            </div>

            <div class = "featured-item my-2 shadow">
                <img src = "/images/featured-berlin-germany.jpg" alt = "featured place">
                <div class = "featured-item-content">
                            <span>
                                <i class = "fas fa-map-marker-alt"></i>
                                Berlin, Germany
                            </span>
                    <div>
                        <p class = "text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta sed dignissimos libero soluta illum, harum amet excepturi sit?</p>
                    </div>
                </div>
            </div>

            <div class = "featured-item my-2 shadow">
                <img src = "/images/featured-khwaeng-wat-arun-thailand.jpg" alt = "featured place">
                <div class = "featured-item-content">
                            <span>
                                <i class = "fas fa-map-marker-alt"></i>
                                Khwaeng wat arun, thailand
                            </span>
                    <div>
                        <p class = "text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta sed dignissimos libero soluta illum, harum amet excepturi sit?</p>
                    </div>
                </div>
            </div>

            <div class = "featured-item my-2 shadow">
                <img src = "/images/featured-rome-italy.jpg" alt = "featured place">
                <div class = "featured-item-content">
                            <span>
                                <i class = "fas fa-map-marker-alt"></i>
                                Rome, Italy
                            </span>
                    <div>
                        <p class = "text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta sed dignissimos libero soluta illum, harum amet excepturi sit?</p>
                    </div>
                </div>
            </div>

            <div class = "featured-item my-2 shadow">
                <img src = "/images/featured-fuvahmulah-maldives.jpg" alt = "featured place">
                <div class = "featured-item-content">
                            <span>
                                <i class = "fas fa-map-marker-alt"></i>
                                fuvahmulah, maldives
                            </span>
                    <div>
                        <p class = "text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta sed dignissimos libero soluta illum, harum amet excepturi sit?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of most-popular section -->

<!-- categories section -->
<section id = "categories" class = "py-4">
    <div class = "container">
        <div class = "title-wrap">
            <span class = "sm-title"></span>
            <h2 class = "lg-title">Categories</h2>
        </div>

        <div class = "categories-row">
            <div class = "categories-item">
                        <span class = "categories-icon">

                            <i class="fa-solid fa-icons"></i>
                        </span>
                <h3>NightLife</h3>
                <p class = "text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quo, totam repellat velit, dignissimos sequi error a minima architecto fugit nisi dolorum repellendus?</p>
                <a href = "#" class = "btn">See More</a>
            </div>

            <div class = "categories-item">
                        <span class = "categories-icon">

                            <i class="fa-solid fa-spa"></i>
                        </span>
                <h3>Beauty and Spa</h3>
                <p class = "text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quo, totam repellat velit, dignissimos sequi error a minima architecto fugit nisi dolorum repellendus?</p>
                <a href = "#" class = "btn">See More</a>
            </div>

            <div class = "categories-item">
                        <span class = "categories-icon">
                           <i class="fa-solid fa-house-chimney-user"></i>
                        </span>
                <h3>Home Services</h3>
                <p class = "text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quo, totam repellat velit, dignissimos sequi error a minima architecto fugit nisi dolorum repellendus?</p>
                <a href = "#" class = "btn">See More</a>
            </div>

            <div class = "categories-item">
                        <span class = "categories-icon">
                          <i class="fa-solid fa-tractor"></i>
                        </span>
                <h3>Local Farms</h3>
                <p class = "text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quo, totam repellat velit, dignissimos sequi error a minima architecto fugit nisi dolorum repellendus?</p>
                <a href = "#" class = "btn">See More</a>
            </div>

            <div class = "categories-item">
                        <span class = "categories-icon">
                          <i class="fa-solid fa-utensils"></i>
                        </span>
                <h3>Restaurants</h3>
                <p class = "text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quo, totam repellat velit, dignissimos sequi error a minima architecto fugit nisi dolorum repellendus?</p>
                <a href = "#" class = "btn">See More</a>
            </div>

            <div class = "categories-item">
                        <span class = "categories-icon">
                          <i class="fa-solid fa-bag-shopping"></i>
                        </span>
                <h3>All Categories</h3>
                <p class = "text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quo, totam repellat velit, dignissimos sequi error a minima architecto fugit nisi dolorum repellendus?</p>
                <a href = "#" class = "btn">See All</a>
            </div>
        </div>
    </div>
</section>
<!-- end of categories section -->

<!-- footer -->
<footer  th:replace="~{fragments/common::footer}"></footer>
<!-- end of footer -->

<!-- js -->
<script src = "/static/js/script.js"></script>
<script src = "/js/script.js"></script>


<script src="https://kit.fontawesome.com/363d6aad6e.js" crossorigin="anonymous"></script>
</body>
</html>