<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common::head}">

</head>
<body>
<!-- navbar  -->
<nav th:replace="~{fragments/common::navbar}"></nav>
<!-- end of navbar  -->


<!-- header -->
<header class="flex header-sm">
    <div class="container">
        <div class="header-title">
            <h1>Login</h1>
            <div class="container">

                <form th:action="@{/users/login}" th:method="POST" th:object="${userLoginBindingModel}">
                    <div class="bg-danger" th:if="${showErrorMessage}" th:text="'Invalid username or password'"></div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input  th:field="*{username}"
                               th:errorclass="'is-invalid bg-danger'"
                                type="text"
                               class="form-control"
                               id="username"
                               name="username">

                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input  th:field="*{password}"
                                th:errorclass="'is-invalid bg-danger'"
                                type="password"
                                class="form-control"
                                id="password"
                                name="password">
                    </div>
<!--                    <div>-->
<!--                        <small th:if="${badCredentials}"-->
<!--                               th:class="'alert-danger'"-->
<!--                               th:text="'Invalid username and/or password'">-->
<!--                            error message-->
<!--                        </small>-->
<!--                    </div>-->
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <p>Don't have an account? <a th:href="@{/users/register}">Register here</a>.</p>
            </div>
        </div>
    </div>
</header>
<!-- header -->


<!-- footer -->
<footer th:replace="~{fragments/common::footer}"></footer>
<!-- end of footer -->

<!-- js -->
<script src="/static/js/script.js"></script>
<script src="/js/script.js"></script>


<script src="https://kit.fontawesome.com/363d6aad6e.js" crossorigin="anonymous"></script>
</body>
</html>