<!DOCTYPE html>
<html    lang="en" xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common::head}">

</head>
<body>
<!-- navbar  -->
<nav th:replace="~{fragments/common::navbar}"></nav>
<!-- end of navbar  -->
<!-- end of navbar  -->

<!-- header -->
<header class = "flex header-sm">
    <div class = "container" th:object="${allShopping}">
        <div class = "header-title">
            <h1>Shopping</h1>
            <p th:text="${about}"> </p>
        </div>
    </div>
</header>
<!-- header -->


<section id="featured" class="py-4">
    <div class="container">
        <div th:if="${allShopping.isEmpty()}" class = "title-wrap">
            <h2 class="sm-title">Still no Places for this Category</h2>
            <h3 class="lg-title">Please come back later </h3>
            <a th:method="GET"
               th:href="@{/categories/all}"
               th:text="Back"
               type="submit" id="back-button-pages" class="btn btn-primary">Back
            </a>
        </div>
        <div class="featured-row" >
            <div class="featured-item my-2 shadow" th:each="business : ${allShopping}">
                <a th:href = "@{/businesses/business_detail/{id}(id = *{business.id})}" >
                    <img src="/images/featured-reo-de-janeiro-brazil.jpg" alt="featured place">
                    <div class="featured-item-content">
                            <span th:text="${business.businessName}">
                                <i class="fas fa-map-marker-alt"></i>

                            </span>
                        <div>
                            <p class="text" th:text="${business.about}"></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>



<!-- footer -->
<footer  th:replace="~{fragments/common::footer}"></footer>
<!-- end of footer -->

<!-- js -->
<script src = "/js/script.js"></script>
<script>

</script>
</body>
</html>